###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_this_to_a_random_32_char_secret
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://db_user:db_password@db:3306/db_name?serverVersion=8.0.32&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> mysql ###
MYSQL_ROOT_PASSWORD=change_root_password
MYSQL_DATABASE=db_name
MYSQL_USER=db_user
MYSQL_PASSWORD=db_password
PMA_USER=db_user
PMA_PASSWORD=db_password
PMA_DATABASE=db_name
###< mysql ###
